@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
--Blue: hsl(246, 80%, 60%);
--Light-red: hsl(15, 100%, 70%);
--Soft-blue: hsl(195, 74%, 62%);
--Light-red: hsl(348, 100%, 68%);
--Lime-green: hsl(145, 58%, 55%);
--Violet: hsl(264, 64%, 52%);
--Soft-orange: hsl(43, 84%, 65%);

--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0E1323;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 81px;
    width: 327px;
    height: 1307px;
    margin-bottom: 50px;
}

.profile {
    position: relative;
    color: #fff;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    width: 327px;
    height: 133px;
    border-radius: 15px;
    background-color: var(--Blue);
}

.profile-title p {
    font-size: 15px;
    color: var(--Pale-Blue);
}

.profile-title span {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.profile-body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 327px;
    height: 203px;
    background-color: var(--Dark-blue);
    border-radius: 15px;
}

.profile-body:hover {
    cursor: pointer;
    background-color: #33397A;
}

.profile-text {
    display: flex;
    justify-content: space-between;
    width: 279px;
    height: 21px;
    margin-bottom: 25px;
}

.profile-text span {
    color: var(--Pale-Blue);
}

.profile-text span:hover {
    cursor: pointer;
    color: #fff;
}

#current-view {
    color: #fff;
}

.profile-image img {
    border: 3px solid white;
    border-radius: 50%;
}

.card {
    position: relative;
}

.card-image {
    width: 327px;
    height: 160px;
    border-radius: 15px;
}

.card-image img {
    margin-left: 231px;
}

.card-body {
  display: flex;
  position: absolute;
  top: 39px;
  padding-top: 28px;
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-blue);
  border-radius: 15px;
  width: 327px;
  height: 122px;
  color: #fff;
}

.card-body:hover {
    cursor: pointer;
    background-color: #33397A;
}

.card-subtitle {
   font-size: 18px;
   font-weight: 400;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 279px;
    height: 21px;
 }

 .card-hrs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 279px;
    height: 71px;
 }

 .card-present {
    font-size: 32px;
    font-weight: 300;
 }

 .card-last {
    height: 18px;
    color: var(--Pale-Blue);
 }


/* desktop styles */

@media screen and (min-width:1200px) {

  body {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  } 

  .App {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px;
    grid-template-areas: 
      "Profile . . ."
      "Profile . . ."; 
    width: 1110px;
    height: 518px;
    margin-top: 0px;
  }

  .profile-image {
    width: 255px;
    height: 354px;
  }

  .profile-body {
    justify-content: flex-start;
    z-index: 2;
    width: 255px;
    height: 518px;
  }

  .profile-text {
    margin-left: 32px;
    width: 68px;
    height: 106px;
    flex-direction: column;

  }
  .profile {
    grid-area: Profile;
  }

  .profile-image {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
  }

  .profile-title {
    margin-top: 32px;
  }

  .profile-title span {
    width: 95px;
    font-size: 40px;
  }

  .card-image {
    width: 255px;
    height: 160px;
  }

  .card-image img {
    margin-left: 164px;
  }

  .card-body {
    width: 255px;
    height: 199px;
    top: 45px;
  }

  .card-title {
    width: 191px;
  }

  .card-hrs {
    flex-direction: column;
    width: 191px;
    align-items: flex-start;
    margin-top: 25px;
  }
}